<div class="function_title">課程分類列表</div>
<div class="function_field">
<%= link_to '回推廣教育課程列表', { controller: 'cce_classes', action: 'indexManagement' }, class: 'function_button' %>
<%= link_to '新增課程分類', new_dimension_path, class: 'function_button'%>
</div>

<section class="index_table">
  <div class="index_row">
	  <div class="index_title">
	     名稱
	  </div> 
	  <div class="index_title">
	  </div>  	      	
  </div>
  <% @dimensions.each do |dimension| %>
  <div class="index_row" >
  	  <div class="index_content">
      <%= dimension.name %>
      </div>
      <div class="index_content">
      <%= link_to '編輯', edit_dimension_path(dimension), class: 'function_sub_button' %>
      <%= link_to '刪除', dimension, method: :delete, class: 'function_del_button', data:  { confirm: '您確定要刪除 '+dimension.name+' ?' }%>
      </div>
  </div>  
  <div class="index_row">
  	<div class="index_border"></div>
  	<div class="index_border"></div>  
  </div> 
  <% end %>     
</section>  

