<%= form_for(@cce_class) do |f| %>
  <% if @cce_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cce_class.errors.count, "error") %> prohibited this cce_class from being saved:</h2>

      <ul>
      <% @cce_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="form_table">
  <div class="form_row">
	  <div class="form_title">
	     課程名稱*
	  </div>
	  <div class="form_content">
	  <%= f.text_field :title, size: 50 %>	
	  </div>         	
  </div>  
  <div class="form_row">
	  <div class="form_title">
	     課程副標題
	  </div>
	  <div class="form_content">
	  <%= f.text_field :sub_title, size: 50  %>	
	  </div>         	
  </div>    
  <div class="form_row">
	  <div class="form_title">
	     課程類別*
	  </div>
	  <div class="form_content">
	  <%= f.select :kind, kindOptions ,{prompt: '選擇課程類別'} %>
	  </div>         	
  </div>    
  <div class="form_row">
	  <div class="form_title">
	    課程狀態*
	  </div>
	  <div class="form_content">
      <%= f.select :status, statusOptions ,{prompt: '選擇報名狀態', selected: GLOBAL_VAR['status_enrollment']} %>
	  </div>         	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	          課程分類*(按Ctrl可複選)
	  </div>
	  <div class="form_content">
      <%= collection_select(:cce_class, :dimension_ids, 
                            Dimension.all, 
                            :id, :name, {:selected => @cce_class.dimension_ids, :include_blank => false}, {:multiple => true}) %>    
	  </div>         	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	     課程學年*
	  </div>
	  <div class="form_content">
	  <%= f.number_field  :school_year, in: 100..140, step: 1, value: Time.now.year-1911 %>	  	
	  </div>         	
  </div>      
  <div class="form_row">
	  <div class="form_title">
	      課程開始日*
	  </div>
	  <div class="form_content">
      <%= f.date_select :start_at %>
	  </div>    
	  <div class="form_title">
	     課程結束日*
	  </div>
	  <div class="form_content">
	  <%= f.date_select :end_at %>
	  </div>  	       	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	      課程總時數*
	  </div>
	  <div class="form_content">
  	  <%= f.number_field :total_hours, in: 0..400, step: 1 %>
	  </div>         	
  </div>  
  <div class="form_row">
	  <div class="form_title">
	     課程總學分
	  </div>
	  <div class="form_content">
      <%= f.number_field :total_credits, in: 0..400, step: 1 %>	  	
	  </div>         	
  </div>       
  <div class="form_row">
	  <div class="form_title">
	     上課時間*
	  </div>
	  <div class="form_content">
  	  <%= f.text_area :class_time, size: '30x2' %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	     上課地點*
	  </div>
	  <div class="form_content">
  	  <%= f.text_field :location, size: 50 %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	     課程介紹*
	  </div>
	  <div class="form_content">
      <%= f.text_area :introduction, size: '40x10' %>
	  </div>         	
  </div>  
  <div class="form_row">
	  <div class="form_title">
	     課程大綱
	  </div>
	  <div class="form_content">
      <%= f.text_area :syllabus, size: '40x10' %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	     課程時程表
	  </div>
	  <div class="form_content">
      <%= f.text_area :schedule, size: '40x10' %>
	  </div>         	
  </div>  
  <div class="form_row">
	  <div class="form_title">
	     招生人數*
	  </div>
	  <div class="form_content">
       <%= f.number_field :user_size_limits, in: 0..1000, step: 1 %>
	  </div>         	
  </div>      
  <div class="form_row">
	  <div class="form_title">
	     招生對象
	  </div>
	  <div class="form_content">
      <%= f.text_area :enrollment_user, size: '40x3'  %>
	  </div>         	
  </div>    
  <div class="form_row">
	  <div class="form_title">
	     結訓證書及未來發展
	  </div>
	  <div class="form_content">
      <%= f.text_area :future, size: '40x3' %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	     校內師資人數*
	  </div>
	  <div class="form_content">
      <%= f.number_field :in_school_lecturers_quantity, in: 0..1000, step: 1 %>
	  </div>     
	  <div class="form_title">
	     校外師資人數*
	  </div>
	  <div class="form_content">
      <%= f.number_field :out_school_lecturers_quantity, in: 0..1000, step: 1  %>
	  </div>	      	      	
  </div>      
  <div class="form_row">
	  <div class="form_title">
	      師資介紹
	  </div>
	  <div class="form_content">
      <%= f.text_area :lecturers, size: '40x3'%>
	  </div>         	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	      開課委託單位
	  </div>
	  <div class="form_content">
      <%= f.text_field :requester, size: 50 %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	      主辦單位*(學校請填學院及系所或中心名稱)
	  </div>
	  <div class="form_content">
      <%= f.text_field :organizer, size: 50 %>
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	      主持人*
	  </div>
	  <div class="form_content">
      <%= f.text_field :host, size: 15 %>
	  </div> 
	  <div class="form_title">
	      主持人學校分機*
	  </div>
	  <div class="form_content">
      <%= f.number_field :host_extend, in: 0..100000, step: 1 %>
	  </div> 	           	
  </div>
       
  <div class="form_row">
	  <div class="form_title">
	     學費*
	  </div>
	  <div class="form_content">
      <%= f.number_field :tuition, in: 0..100000, step: 1 %> NT
	  </div>         	
  </div>  
  
  <div class="form_row">
	  <div class="form_title">
	     相關連結
	  </div>
	  <div class="form_content">
      <%= f.text_field :link, size: 50%>
	  </div>         	
  </div>    

  <div class="form_row">
	  <div class="form_title">
	    線上報名連結
	  </div>
	  <div class="form_content">
      <%= f.text_field :registration_link, size: 50%>
	  </div>         	
  </div>    

  <div class="form_row">
	  <div class="form_title">
	     課程附件
	  </div>
	  <div class="form_content">
      <%= f.file_field :attachment %>
	  </div>         	
  </div> 
  
  <div class="form_row">
	  <div class="form_title">
	      其它備註
	  </div>
	  <div class="form_content">
      <%= f.text_area :note, size: '40x3' %>
	  </div>         	
  </div>    
   
  <div class="form_row">
	  <div class="form_sub">
	     預計經費來源    
	  </div>    
	  <div class="form_sub">	         
	  </div>    	     	
  </div>      
  <div class="form_row">
	  <div class="form_title">
	     預估總共學費*
	  </div>
	  <div class="form_content">
      <%= f.number_field :total_tuition, in: 0..5000000, step: 1 %> NT
	  </div>         	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	     補助款
	  </div>
	  <div class="form_content">
      <%= f.number_field :grants, in: 0..5000000, step: 1 %> NT
	  </div>  	     	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	     其他經費來源
	  </div>
	  <div class="form_content">
      <%= f.number_field :other_funds, in: 0..5000000, step: 1 %> NT
	  </div> 	
  </div>       
  <div class="form_row">
	  <div class="form_title">
	     總計來源:    
	  </div>    
	  <div class="form_content" id="income_total">	         
	  </div>    	     	
  </div>    
  <div class="form_row">
	  <div class="form_sub">
	     預計經費支出    
	  </div>    
	  <div class="form_sub">	         
	  </div>    	     	
  </div>       
  <div class="form_row">
	  <div class="form_title">
	     學校管理費*(學分班為15%)
	  </div>
	  <div class="form_content">
      <%= f.number_field :school_expenses, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="school_expenses_percent"></span>)       
	  </div>         	
  </div>    
  <div class="form_row">
	  <div class="form_title">
	     教務處管理費
	  </div>
	  <div class="form_content">
      <%= f.number_field :academic_expenses, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="academic_expenses_percent"></span>)       
	  </div>         	
  </div>       
  <div class="form_row">
	  <div class="form_title">
	      各中心管理費
	  </div>
	  <div class="form_content">
      <%= f.number_field :center_expenses, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="center_expenses_percent"></span>)       
	  </div>         	
  </div>     
  <div class="form_row">
	  <div class="form_title">
	      各學院管理費
	  </div>
	  <div class="form_content">
      <%= f.number_field :college_expenses, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="college_expenses_percent"></span>) 
	  </div>         	
  </div>   
  <div class="form_row">
	  <div class="form_title">
	      各系所管理費
	  </div>
	  <div class="form_content">
      <%= f.number_field :department_expenses, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="department_expenses_percent"></span>) 
	  </div>         	
  </div>   
  
  <div class="form_row">
	  <div class="form_title">
	    學校場地費*
	  </div>
	  <div class="form_content">
      <%= f.number_field :school_venue_fee, in: 0..5000000, step: 1 %> NT
      (約佔經費來源  <span id="school_venue_fee_percent"></span>) 
      (約佔場地費<span id="school_venue_fee_percent_in_venue"></span>)          
	  </div>         	
  </div>    
  <div class="form_row">
	  <div class="form_title">
	     各單位場地費*
	  </div>
	  <div class="form_content">
      <%= f.number_field :units_venue_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="units_venue_fee_percent"></span>) 
      (約佔場地費<span id="units_venue_fee_percent_in_venue"></span>)           
	  </div>  	          	
  </div>   
  
  <div class="form_row">
	  <div class="form_title">
	     人事費
	  </div>
	  <div class="form_content">
      <%= f.number_field :personnel_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="personnel_fee_percent"></span>)        
	  </div>  	          	
  </div>     
  <div class="form_row">
	  <div class="form_title">
	     業務費
	  </div>
	  <div class="form_content">
      <%= f.number_field :sales_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="sales_fee_percent"></span>)        
	  </div>  	          	
  </div> 
  <div class="form_row">
	  <div class="form_title">
	     差旅費
	  </div>
	  <div class="form_content">
      <%= f.number_field :travel_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="travel_fee_percent"></span>)        
	  </div>  	          	
  </div>   
   <div class="form_row">
	  <div class="form_title">
	    設備費
	  </div>
	  <div class="form_content">
      <%= f.number_field :facilities_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="facilities_fee_percent"></span>)        
	  </div>  	          	
  </div>    
   <div class="form_row">
	  <div class="form_title">
	      鐘點費
	  </div>
	  <div class="form_content">
      <%= f.number_field :hourly_fee, in: 0..5000000, step: 1 %> NT 
      (約佔經費來源  <span id="hourly_fee_percent"></span>)        
	  </div>  	          	
  </div> 
    
  <div class="form_row">
	  <div class="form_title">
	     總計支出:    
	  </div>    
	  <div class="form_content" id="expenses_total">	         
	  </div>    	     	
  </div>    
  <div class="form_row">
  	<div class="form_title">
    <%= f.button '確認送出' %>
    </div>
  </div>       
  </section>	
<% end %>

<script>

	$('#income_total').html( incomeTotal()+' NT' );
	expensesCal();
	
	function incomeTotal()
	{
		return (parseInt($("#cce_class_grants" ).val()) || 0)+ (parseInt($("#cce_class_total_tuition" ).val()) || 0)+(parseInt($("#cce_class_other_funds" ).val()) || 0); 	
	}
	function expensesCal()
	{
		$( "#school_expenses_percent" ).html( (((parseInt($("#cce_class_school_expenses" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#academic_expenses_percent" ).html( (((parseInt($("#cce_class_academic_expenses" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#center_expenses_percent" ).html( (((parseInt($("#cce_class_center_expenses" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );		
		$( "#college_expenses_percent" ).html( (((parseInt($("#cce_class_college_expenses" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );		
		$( "#department_expenses_percent" ).html( (((parseInt($("#cce_class_department_expenses" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#school_venue_fee_percent" ).html( (((parseInt($("#cce_class_school_venue_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#school_venue_fee_percent_in_venue" ).html(  (((parseInt($("#cce_class_school_venue_fee" ).val()) || 0)  /  
		                                                 ((parseInt($("#cce_class_units_venue_fee" ).val()) || 0)  + 
		                                                  (parseInt($("#cce_class_school_venue_fee" ).val()) || 0)))*100).toFixed(2)+'%' );			
		$( "#units_venue_fee_percent" ).html( (((parseInt($("#cce_class_units_venue_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#units_venue_fee_percent_in_venue" ).html(  (((parseInt($("#cce_class_units_venue_fee" ).val()) || 0)  /  
		                                                 ((parseInt($("#cce_class_units_venue_fee" ).val()) || 0)  + 
		                                                  (parseInt($("#cce_class_school_venue_fee" ).val()) || 0)))*100).toFixed(2)+'%' );			                                                  
		
		$( "#personnel_fee_percent" ).html( (((parseInt($("#cce_class_personnel_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#sales_fee_percent" ).html( (((parseInt($("#cce_class_sales_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#travel_fee_percent" ).html( (((parseInt($("#cce_class_travel_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#facilities_fee_percent" ).html( (((parseInt($("#cce_class_facilities_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		$( "#hourly_fee_percent" ).html( (((parseInt($("#cce_class_hourly_fee" ).val()) || 0)/incomeTotal())*100).toFixed(2)+'%'  );
		
		
		$( "#expenses_total" ).html( (parseInt($("#cce_class_school_expenses" ).val()) || 0)+
									 (parseInt($("#cce_class_academic_expenses" ).val()) || 0)+
									 (parseInt($("#cce_class_center_expenses" ).val()) || 0)+
									 (parseInt($("#cce_class_college_expenses" ).val()) || 0)+
									 (parseInt($("#cce_class_department_expenses" ).val()) || 0)+
									 (parseInt($("#cce_class_units_venue_fee" ).val()) || 0)  + 
		                             (parseInt($("#cce_class_personnel_fee" ).val()) || 0)+
		                             (parseInt($("#cce_class_school_venue_fee" ).val()) || 0)+		                             
		                             (parseInt($("#cce_class_sales_fee" ).val()) || 0)+
		                             (parseInt($("#cce_class_travel_fee" ).val()) || 0)+
		                             (parseInt($("#cce_class_facilities_fee" ).val()) || 0)+
									 (parseInt($("#cce_class_hourly_fee" ).val()) || 0)+		                             
		                             ' NT'
		 );
	}	
	$( "#cce_class_total_tuition" ).change(function() {
		 $('#income_total').html( incomeTotal()+' NT' );  
		 expensesCal();
	});	
	$( "#cce_class_grants" ).change(function() { 
		 $('#income_total').html( incomeTotal()+' NT' ); 
		 expensesCal();
	});	
	$( "#cce_class_other_funds" ).change(function() { 
		 $('#income_total').html( incomeTotal()+' NT' ); 
		 expensesCal();
	});	
	
	$( "#cce_class_school_expenses" ).change(function() {
		 expensesCal();
	});		
	$( "#cce_class_academic_expenses" ).change(function() {
		 expensesCal();
	});	
	$( "#cce_class_center_expenses" ).change(function() {
		 expensesCal();
	});
	$( "#cce_class_college_expenses" ).change(function() {
		 expensesCal();
	});
	$( "#cce_class_department_expenses" ).change(function() {
		 expensesCal();
	});
	$( "#cce_class_school_venue_fee" ).change(function() {
		 expensesCal();
	});
	$( "#cce_class_units_venue_fee" ).change(function() {
		 expensesCal();
	});		
	$( "#cce_class_personnel_fee" ).change(function() {
		 expensesCal();
	});	
	$( "#cce_class_sales_fee" ).change(function() {
		 expensesCal();
	});	
	$( "#cce_class_travel_fee" ).change(function() {
		 expensesCal();
	});	
	$( "#cce_class_facilities_fee" ).change(function() {
		 expensesCal();
	});	
	$( "#cce_class_hourly_fee" ).change(function() {
		 expensesCal();
	});									
</script>
