<div class="function_title">推廣教育課程列表</div>
<div class="function_field">
<%if User.find(session[:user_id]).identity==GLOBAL_VAR['identity_CCE'] or User.find(session[:user_id]).identity==GLOBAL_VAR['identity_employee'] %>	
<%= link_to '申請推廣教育課程', new_cce_class_path, class: 'function_button' %>
<%end%>
<%unless User.find(session[:user_id]).identity!=GLOBAL_VAR['identity_CCE'] %>
<%= link_to '課程分類列表', dimensions_path, class: 'function_button' %>	
<%end%>
</div>
<section class="index_table">
  <div class="index_row">
	  <div class="index_title">
	     課程學年
	  </div>     	
	  <div class="index_title">
	     課程名稱
	  </div>
	  <div class="index_title">
	     建立日期
	  </div>   
	  <div class="index_title">
	     審核人
	  </div>  	   
	  <div class="index_title">
	  </div>  	       	
  </div>  
 <% @cce_classes.each do |cce_class| %> 
  <div class="index_row" >
  	  <div class="index_content">
	  <%= cce_class.school_year %>	  
	  </div>  
	  <div class="index_content">
	  <%= cce_class.title %>
	  </div>
	  <div class="index_content">
	  <%= cce_class.created_at.strftime "%Y-%m-%d" %>
	  </div>   
	  <div class="index_content">
	  <%unless cce_class.verified_user_id.blank?%>	
	  <%= User.find(cce_class.verified_user_id).name %>
	  <%else%>
	  --
	  <%end%>
	  </div> 	  	 
	  <div class="index_content">  	
        <%= link_to '詳細', {controller: :cce_classes, action: :showManagement, id: cce_class.id}, class: 'function_sub_button' %>
        <%= link_to '新增經費處理表', {controller: :courses, action: :new, cce_class_id: cce_class.id} , class: 'function_sub_button' %>          
	  </div>   		            	
  </div>  
  <% cce_class.courses.each do |course| %>
  <div class="index_row"> 	              
       <div class="index_content">經費處理: <%=course.title%></div>
       <div class="index_content">        
       	<%= link_to '詳細', course, class: 'function_sub_button' %>
        </div>  
  </div>     
  <%end%>
  <div class="index_row">
  	<div class="index_border"></div>
  	<div class="index_border"></div>
  	<div class="index_border"></div>
	<div class="index_border"></div>  	
	<div class="index_border"></div>  	
  </div>
  <%end%>  
</section>  
<div class="apple_pagination">
<%= will_paginate @cce_classes %>
</div>
