<div class="function_title">推廣教育課程</div>
<div class="function_field">
<%= link_to '回推廣教育課程列表', { controller: 'cce_classes', action: 'indexManagement' }, class: 'function_button' %>
<%= link_to '編輯', edit_cce_class_path(@cce_class), class: 'function_button' %>
<%= link_to '產生會簽單', { controller: 'cce_classes', action: 'signsheet', id: @cce_class.id  }, class: 'function_button' %>
</div>
<section class="show_table">
  <div class="show_row">
	  <div class="show_title">
	  	課程名稱
	  </div>
	  <div class="show_content">	
	  	<%= showBlank( data: @cce_class.title)%>
	  </div>     
	  <div class="show_title">
	  	課程副標題
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.sub_title)%>	
	  </div>   	      	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	課程類別
	  </div>
	  <div class="show_content">
	  	<%= Hash[kindOptions].rassoc(@cce_class.kind ).first %>	
	  </div>         	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	課程狀態
	  </div>
	  <div class="show_content">
	  	<%= Hash[statusOptions].rassoc(@cce_class.status ).first %>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	課程分類
	  </div>
	  <div class="show_content">
	  	<%= showDimensions( cce_class: @cce_class)%>		
	  </div>         	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	課程學年
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.school_year%>	
	  </div>         	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	課程開始日
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.start_at%>	
	  </div>   
	  <div class="show_title">
	  	課程結束日
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.end_at%>	
	  </div>	        	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	課程總時數
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.total_hours%>	
	  </div>    
	  <div class="show_title">
	  	課程總學分
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.total_credits%>	
	  </div>   	       	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	上課時間
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.class_time%>	
	  </div>   
	  <div class="show_title">
	  	上課地點
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.location%>	
	  </div>  	        	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	課程介紹
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.introduction%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	課程大綱
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.syllabus)%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	課程時程表
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.schedule)%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	招生人數
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.user_size_limits%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	招生對象
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.enrollment_user)%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	結訓證書及未來發展
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.future)%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	校內師資人數
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.in_school_lecturers_quantity%>	
	  </div> 
	  <div class="show_title">
	  	校外師資人數
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.out_school_lecturers_quantity%>	
	  </div>  	          	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	師資介紹
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.lecturers)%>	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	開課委託單位
	  </div>
	  <div class="show_content">
	  	<%= showBlank( data:@cce_class.requester)%>	
	  </div>    
	  <div class="show_title">
	  	主辦單位
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.organizer%>	
	  </div>    	       	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	主持人
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.host%>	
	  </div> 
	  <div class="show_title">
	  	主持人分機
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.host_extend%>	
	  </div>	          	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	承辦人
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.user.name%>	
	  </div> 
	  <div class="show_title">
	  	承辦人分機
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.user.extend%>	
	  </div>	          	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	學費
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.tuition%>	
	  </div>         	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	相關連結
	  </div>
	  <div class="show_content">
		<%= showBlank( data: link_to(@cce_class.link, @cce_class.link))%>	
	  </div>         	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	線上報名連結
	  </div>
	  <div class="show_content">
		<%= showBlank( data: link_to(@cce_class.registration_link, @cce_class.registration_link))%>	
	  </div>         	
  </div>    
  <div class="show_row">
	  <div class="show_title">
	  	課程附件
	  </div>
	  <div class="show_content">
	  	<%unless @cce_class.attachment.blank?%>
	  	<%= link_to( @cce_class.attachment_file_name,  @cce_class.attachment.url())%>	
	  	<%else%>
	  	--
	  	<%end%>
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_sub">
	  	預計經費來源    
	  </div>
	  <div class="show_sub">	
	  </div>    
	  <div class="show_sub">	
	  </div>  	       	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	預估總共學費
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.total_tuition%> NT	
	  </div>   
	  <div class="show_title">
	  	補助款
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.grants%> NT		
	  </div> 
	  <div class="show_title">
	  	其他經費來源
	  </div>
	  <div class="show_content">
	  	<%= @cce_class.other_funds%> NT		
	  </div>  	  	        	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	總計來源
	  </div>
	  <div class="show_content">
	  	<%=@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i %> NT	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_sub">
	  	預計經費支出     
	  </div>
	  <div class="show_sub">	
	  </div>    
	  <div class="show_sub">	
	  </div>  	       	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	學校(學分班為15%)
	  </div>
	  <div class="show_content">
	  <%= @cce_class.school_expenses%> NT
	  (約佔經費來源  <%= ((@cce_class.school_expenses.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  		
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	教務處  
	  </div>
	  <div class="show_content">
	  <%= @cce_class.academic_expenses%> NT	
	  (約佔經費來源  <%= ((@cce_class.academic_expenses.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	各中心  
	  </div>
	  <div class="show_content">
	  <%= @cce_class.center_expenses%> NT
	  (約佔經費來源  <%= ((@cce_class.center_expenses.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	各學院   
	  </div>
	  <div class="show_content">
	  <%= @cce_class.college_expenses%> NT	
	  (約佔經費來源  <%= ((@cce_class.college_expenses.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	各系所 
	  </div>
	  <div class="show_content">
	  <%= @cce_class.department_expenses%> NT
	  (約佔經費來源  <%= ((@cce_class.department_expenses.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	學校場地費
	  </div>
	  <div class="show_content">
	  <%= @cce_class.school_venue_fee%> NT	
	  (約佔經費來源  <%= ((@cce_class.school_venue_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  		  
	  (約佔場地費 <%= ((@cce_class.school_venue_fee.to_f/(@cce_class.school_venue_fee+@cce_class.units_venue_fee))*100).round(2) %>%)  			  		  
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	各單位場地費   
	  </div>
	  <div class="show_content">
	  <%= @cce_class.units_venue_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.units_venue_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  (約佔場地費 <%= ((@cce_class.units_venue_fee.to_f/(@cce_class.school_venue_fee+@cce_class.units_venue_fee))*100).round(2) %>%)  			  	  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	     人事費
	  </div>
	  <div class="show_content">
	  <%= @cce_class.personnel_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.personnel_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	     業務費   
	  </div>
	  <div class="show_content">
	  <%= @cce_class.sales_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.sales_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	差旅費 
	  </div>
	  <div class="show_content">
	  <%= @cce_class.travel_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.travel_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	設備費   
	  </div>
	  <div class="show_content">
	  <%= @cce_class.facilities_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.facilities_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	     鐘點費   
	  </div>
	  <div class="show_content">
	  <%= @cce_class.hourly_fee%> NT
	  (約佔經費來源  <%= ((@cce_class.hourly_fee.to_f/(@cce_class.total_tuition+@cce_class.grants.to_i+@cce_class.other_funds.to_i))*100).round(2) %>%)  			  	
	  </div>         	
  </div>         
  
  
  <div class="show_row">
	  <div class="show_title">
	  	 總計支出
	  </div>
	  <div class="show_content">
	  <%=@cce_class.school_expenses+@cce_class.academic_expenses+@cce_class.center_expenses+
	  @cce_class.college_expenses+@cce_class.department_expenses+@cce_class.school_venue_fee+
	  @cce_class.units_venue_fee+@cce_class.personnel_fee+@cce_class.sales_fee+@cce_class.travel_fee+
	  @cce_class.facilities_fee+@cce_class.hourly_fee%> NT	
	  </div>         	
  </div>  
</section> 
<br>
<br>