<div class="cce_class_show">
	<div class="cce_class_show_logo">
	  <div class="cce_class_show_logo_en">
	  	COURSE
	  </div>	
	  <div class="cce_class_show_logo_ch">
	  	推廣教育課程
	  </div>		  
	</div>	
	<div class="cce_class_show_title_apply">
		<div class="cce_class_show_title_container">
			<div class="cce_class_show_title">
			  <%= @cce_class.title %>
			</div>
			<div class="cce_class_show_sub_title">
			  <%= @cce_class.sub_title %>
			</div>	
		</div>
		<%unless @cce_class.registration_link.blank?%>
	  	<div class="cce_class_show_apply">
	    	<%=link_to @cce_class.registration_link do%>
	    	<span class="remain-icon icon-clipboard"></span>
	        <span>線上報名</span>	
	        <%end%>
	    </div>
	    <%end%>
	</div>    	
	<div class="cce_class_show_content">
		<div class="cce_class_show_basic">
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				課程類別
				</div>	
				<div class="cce_class_show_basic_cell_content">
				<%= Hash[kindOptions].rassoc(@cce_class.kind ).first %>		
				</div>					
			</div>					
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				課程狀態
				</div>	
				<div class="cce_class_show_basic_cell_content">
			  	<%= Hash[statusOptions].rassoc(@cce_class.status ).first %>						
				</div>						
			</div>		
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				課程分類
				</div>	
				<div class="cce_class_show_basic_cell_content">
			  	<%= showDimensions( cce_class: @cce_class)%>							
				</div>						
			</div>	
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				課程時間
				</div>	
				<div class="cce_class_show_basic_cell_content">
				<%= @cce_class.school_year%>學年 <%= @cce_class.start_at%>~<%= @cce_class.end_at%>	
				</div>						
			</div>
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				招生人數
				</div>	
				<div class="cce_class_show_basic_cell_content">
				<%= @cce_class.user_size_limits%>人
				</div>						
			</div>			
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				費用
				</div>	
				<div class="cce_class_show_basic_cell_content">
				<%= @cce_class.tuition%>NT
				</div>						
			</div>					
			<div class="cce_class_show_basic_inner">
				<div class="cce_class_show_basic_cell_title">
				報名洽詢
				</div>	
				<div class="cce_class_show_basic_cell_content">
				<%= @cce_class.user.name%><br><%= @cce_class.user.email%><br>(03)5712121#<%= @cce_class.user.extend%>	
				</div>						
			</div>																	
		</div>	
		<div class="cce_class_show_main">
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				課程介紹	
				</div>		
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.introduction)%>
				</div>						
			</div>		
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				課程大綱
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.syllabus)%>
				</div>	
			</div>				
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				課程時程表
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.schedule)%>
				</div>						
			</div>		
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				上課時間
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.class_time)%>
				</div>						
			</div>	
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				上課地點
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.location)%>
				</div>						
			</div>									
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				招生對象
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.enrollment_user)%>
				</div>						
			</div>				
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				結訓證書及未來發展
				</div>	
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.future)%>
				</div>							
			</div>	
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				師資介紹
				</div>
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.lecturers)%>
				</div>								
			</div>	
			<div class="cce_class_show_main_inner">
				<div class="cce_class_show_main_title">
				其他備註
				</div>
				<div class="cce_class_show_main_content">
				<%=simple_format(@cce_class.note)%>
				</div>								
			</div>										
		</div>
		<div class="cce_class_show_others">
			<div class="cce_class_show_others_inner">
				<div class="cce_class_show_others_title">
					相關連結
				</div>	
				<div class="cce_class_show_others_content">
					<%= showBlank( data: link_to(@cce_class.link, @cce_class.link))%>	
				</div>					
			</div>
			<div class="cce_class_show_others_inner">
				<div class="cce_class_show_others_title">
					課程附件
				</div>	
				<div class="cce_class_show_others_content">
				  	<%unless @cce_class.attachment.blank?%>
				  	<%= link_to( @cce_class.attachment_file_name,  @cce_class.attachment.url())%>	
				  	<%else%>
				  	--
				  	<%end%>
				</div>					
			</div>						
			<div class="cce_class_show_others_inner">
				<div class="cce_class_show_others_title">
					課程總時數
				</div>	
				<div class="cce_class_show_others_content">
					<%= @cce_class.total_hours%>	
				</div>					
			</div>
			<div class="cce_class_show_others_inner">
				<div class="cce_class_show_others_title">
					課程總學分
				</div>	
				<div class="cce_class_show_others_content">
					<%= @cce_class.total_credits%>
				</div>					
			</div>									
		</div>			
	</div>	
</div>