<div class="function_title">會員列表</div>
<div class="function_field">
<%= link_to '新增會員', new_user_path, class: 'function_button'%>
</div>

<section class="index_table">
  <div class="index_row">
	  <div class="index_title">
	     姓名
	  </div>     	
	  <div class="index_title">
	     Email
	  </div>
	  <div class="index_title">
	     學校分機
	  </div>   	  
	  <div class="index_title">
	     電話號碼
	  </div>    
	  <div class="index_title">
	     手機號碼
	  </div> 
	  <div class="index_title">
	     會員身分
	  </div> 	  	  
	  <div class="index_title">
	  </div>  	       	
  </div>  
  <% @users.each do |user| %>  
  <div class="index_row" >
  	  <div class="index_content">
	  <%= user.name %>
	  </div>  
  	  <div class="index_content">
	  <%= user.email %>
	  </div>  
  	  <div class="index_content">
	  <%= user.extend %>
	  </div>  
  	  <div class="index_content">
	  <%= showBlank(data: user.phone_no) %>
	  </div>  	  
  	  <div class="index_content">
	  <%= showBlank(data: user.mobile_no) %>
	  </div> 
  	  <div class="index_content">
	  <%= Hash[identityOptions].rassoc(user.identity).first%>
	  </div> 
  	  <div class="index_content">
	  <%= link_to '發送新密碼', {controller: "users", action: "pwReset", id: user.id}, class: 'function_sub_button' %>  	  	
	  <%= link_to '詳細', user, class: 'function_sub_button' %>
	  <!--<%= link_to '編輯', edit_user_path(user) %>-->
	  <%= link_to '刪除', user, method: :delete, class: 'function_del_button', data: { confirm: '您確定要刪除會員 '+user.name+' ?' } %>
	  </div>  		  	   	   	  	  	  
  </div>	    
  <div class="index_row">
  	<div class="index_border"></div>
  	<div class="index_border"></div>
  	<div class="index_border"></div>
	<div class="index_border"></div>  	
	<div class="index_border"></div>  	
	<div class="index_border"></div>  	
	<div class="index_border"></div>  				
  </div>  
  <% end %>
  
</section>	
<div class="apple_pagination">
<%= will_paginate @cce_classes %>
</div>
