<div class="function_title">會員</div>
<div class="function_field">
<%= link_to '回會員列表', {controller: 'users', action: 'index'} , class: 'function_button' %>
</div>
<section class="show_table">
  <div class="show_row">
	  <div class="show_title">
	  	姓名
	  </div>
	  <div class="show_content">	
	  	<%= @user.name %>
	  </div>         	
  </div>
  <div class="show_row">
	  <div class="show_title">
	  	Email
	  </div>
	  <div class="show_content">	
	  	<%= @user.email %>
	  </div>         	
  </div>  
  <div class="show_row">
	  <div class="show_title">
	  	會員身份
	  </div>
	  <div class="show_content">	
     	<%= Hash[identityOptions].rassoc(@user.identity).first%> 
	  </div>         	
  </div>     
  <div class="show_row">
	  <div class="show_title">
	  	性別
	  </div>
	  <div class="show_content">	
     	<%if @user.gender %>男<%else%>女<%end%>
	  </div>         	
  </div>   
  <div class="show_row">
	  <div class="show_title">
	  	出生年月日
	  </div>
	  <div class="show_content">	
     	<%= @user.birthday %> 
	  </div>         	
  </div>   
  <div class="show_row">
	  <div class="show_title">
	  	地址
	  </div>
	  <div class="show_content">	
     	<%= @user.address %>
	  </div>         	
  </div>   
  <div class="show_row">
	  <div class="show_title">
	  	學校分機
	  </div>
	  <div class="show_content">	
     	<%= @user.extend %>
	  </div>         	
  </div>   
  <div class="show_row">
	  <div class="show_title">
	  	電話號碼
	  </div>
	  <div class="show_content">	
     	<%= @user.phone_no %>
	  </div>         	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	手機號碼
	  </div>
	  <div class="show_content">	
     	<%= @user.mobile_no %>
	  </div>         	
  </div> 
  <div class="show_row">
	  <div class="show_title">
	  	國籍
	  </div>
	  <div class="show_content">	
     	<%= @user.nationality %>
	  </div>         	
  </div>       
  <div class="show_row">
	  <div class="show_title">
	  	身分証字號
	  </div>
	  <div class="show_content">	
     	<%= @user.id_no %>
	  </div>   
	  <div class="show_title">
	  	護照號碼
	  </div>
	  <div class="show_content">	
     	<%= @user.passport_no %>
	  </div> 	        	
  </div>   
  <div class="show_row">
	  <div class="show_title">
	  	最高學歷
	  </div>
	  <div class="show_content">	
     	<%= @user.education %>
	  </div>         	
  </div>   
  <div class="show_row">
  <div class="show_title">
	  訂閱最新課程資訊
	  </div>
	  <div class="show_content">	
     	<%if @user.edm %>訂閱<%else%>取消<%end%>
	  </div>         	
  </div>   
</section>  