<div class="news_box"  id="news_<%=news_block.id%>" >
	<%=link_to news_block, class: 'fancybox openNewsAjax' do%>
	<div class="content_news_block" id="content_news_<%=news_block.id%>">				
			<div class="news_box_title">
				<%= news_block.title %>
			</div>	
			<%unless news_block.cover.blank?%>			
			<div class="news_box_img">			
				<%=image_tag news_block.cover, style: "width: 100%"%>
			</div>
			<div class="news_box_content">
				<%=truncate( news_block.content, length: 55, omission: '... (詳細)')%>
			</div>
			<%else%>
			<div class="news_box_content">
				<%= news_block.content%>	
			</div>		
			<%end%>	
			<div class="news_box_date_view">
				<span class="fb_view_clock-icon icon-clock"></span> 發佈時間 <%=news_block.created_at.strftime "%Y-%m-%d"%>
				<span class="fb_view_clock-icon icon-eye"></span> 點閱 <%=news_block.view%>
			</div>				
	</div> 	
	<%end%>				
</div>

