<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :cce_class_id %>
  <section class="form_table">
  <div class="form_row">
	  <div class="form_title">
	  課程名稱*
	  </div>
	  <div class="form_content">
	  <%= f.text_field :title, size: 40 %>	
	  </div>         	
  </div>
  <div class="form_row">
  	<div class="form_title">
    <%= f.button '確認送出' %>
    </div>
  </div>   
  </section>	 
<% end %>
