<table>
<tr>
	<th>開課名稱</th>
	<th>課程名稱</th>	
	<th>總經費</th>
	<th>學校管理費</th>
	<th>推教管理費</th>
	<th>人數</th>	
	<th>場地費</th>		
</tr>
<% @courses.each do |c| %>
<tr>
	<td><%= c.cce_class.title %></td>
	<td><%= c.accounting_year+' '+c.title %></td>		
	<td><%= c.grants+c.total_tuition+c.other_funds %></td>
	<td><%= c.school_expenses %></td>	
	<td><%= c.academic_expenses %></td>	
	<td><%= c.no_of_finished_users %></td>	
	<td><%= c.school_venue_fee+c.units_venue_fee %></td>				
</tr>
<% end %>

</table>