<div class="function_title">電子郵件廣告</div>
<div class="function_field">
<%= link_to '回電子郵件廣告列表', { controller: 'edms', action: 'index' }, class: 'function_button' %>
</div>
<div style="font-size: 12px; margin-bottom: 10px;">可登入後,到 "<%=link_to '會員設定', domain%>" 取消訂閱最新課程資訊</div>
<div style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">
   <% @edm.news.each do |n|%>						      
   <div class="news_box" style="display: inline-block;
   							    margin: 0 0 1em;
			                    width: 300px;
  	                            background: #198EB9;">
		<a href="<%=domain+'/news/'+n.id.to_s%>" style="text-decoration: none;">
		<div class="content_news_block">				
				<div style="font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
							width: 89%;
							color: #F2EEEA;	
							font-size: 17px;
							font-style: italic;
							letter-spacing: 7px;
							margin: 1em auto 5px;
							padding-bottom: 6px;	
							border-bottom: 3px solid #F2EEEA;">
				<%=n.title%>		
				</div>	
				<%unless n.cover.blank?%>			
				<div style="width: 89%; 
	                        margin: 10px auto;
	                        padding-bottom: 6px;		
	                        border-bottom: 3px solid #F2EEEA;">			
					<%=image_tag n.cover, style: "width: 100%"%>
				</div>
				<div style="width: 89%;
	                        color: #F2EEEA;	
							line-height: 17px;
							font-size: 12px;
							letter-spacing: 3px;
							margin: 0.5em auto; 
							padding-bottom: 12px;		
							border-bottom: 1px solid #F2EEEA;">
					<%=truncate( n.content, length: 55, omission: '... (詳細)')%>
				</div>
				<%else%>
				<div style="width: 89%;
	                        color: #F2EEEA;	
							line-height: 17px;
							font-size: 12px;
							letter-spacing: 3px;
							margin: 0.5em auto; 
							padding-bottom: 12px;		
							border-bottom: 1px solid #F2EEEA;">
					<%= n.content%>	
				</div>		
				<%end%>	
				<div style="width: 89%;
							color: #F2EEEA;	
							line-height: 13px;
							font-size: 10px;
							letter-spacing: 2px;
							margin: 5px auto 13px;">
					發佈時間 <%=n.created_at.strftime "%Y-%m-%d"%>
				</div>				
		</div> 	
		</a>			
	</div>
   <%end%>
</div>