<div class="cce_left_menu_container">
	<div class="signIn_container">
		<div class="signIn_container_title">
			<span class="signIn_container_title_en">CCE</span>
			<span class="signIn_container_title_ch">會員中心</span>
		</div>
		<%if session[:user_id].blank?%>
		<div class="login">
			<%=form_tag '/users/signIn' do%>			
				<%=text_field_tag :email, params[:email], placeholder: 'Email'%>
				<%=password_field_tag :password, params[:password], placeholder: '密碼'%>		
				<%=submit_tag "登入"%><a href="#" style="color: #f9f9f9;"><span class="forget_pw" >忘記密碼?</span></a> 
			<%end%>		
		</div>
		<%else%>
		<div class="logout">
			<div class="hello">Hello, <%=User.find(session[:user_id]).name%></div>
			<%=link_to '登出', '/users/logOut', class: "logout_a", style: 'padding: 2.5px 25px;'%>
			<%=link_to edit_user_path( User.find(session[:user_id]) ) do%>
			<span class="settings">會員設定</span>
			<%end%>
		</div>
		<%end%>	
	</div>	
	<div class="mid_container">
		<ul>
			<li>
				<%=link_to controller: 'news', action: 'index' do%>
				<span class="mid_container_img">
					<span class="course_news-icon icon-sound"></span>
				</span>
				<span class="mid_container_word">
					<div class="mid_container_CH">
					消息公告
					</div>
					<div class="mid_container_EN">
					NEWS
					</div>					
				</span>	
				<%end%>
			</li>
			<%unless session[:user_id].blank?%>
				<%unless User.find(session[:user_id]).identity == GLOBAL_VAR['identity_student']%>
				<li>
					<%=link_to controller: 'news', action: 'indexManagement' do%>
					<span class="mid_container_img">
						<span class="management-icon icon-management"></span>	
					</span>
					<span class="mid_container_word">
						<div class="mid_container_CH">
						消息公告管理
						</div>
						<div class="mid_container_EN">
						NEWS MNGMT
						</div>					
					</span>	
					<%end%>
				</li>
				<%end%>
			<%end%>
			<li>
				<%=link_to controller: 'cce_classes', action: 'index' do%>
				<span class="mid_container_img">
					<span class="course_news-icon icon-stack"></span>					
				</span>
				<span class="mid_container_word">
					<div class="mid_container_CH">
					推廣教育課程
					</div>
					<div class="mid_container_EN">
					COURSES
					</div>
				</span>
				<%end%>
			</li>	
			<%unless session[:user_id].blank?%>
				<li>
					<%=link_to controller: 'cce_classes', action: 'indexManagement' do%>
					<span class="mid_container_img">
						<span class="management-icon icon-management" style="font-size: 0.9em"></span>					
					</span>
					<span class="mid_container_word">
						<div class="mid_container_CH" style="font-size: 0.78em">
						推廣教育課程管理
						</div>
						<div class="mid_container_EN" style="font-size: 0.7em">
						COURSES MNGMT
						</div>					
					</span>	
					<%end%>
				</li>
			<%end%>		
			<%unless session[:user_id].blank?%>
				<%unless User.find(session[:user_id]).identity!=GLOBAL_VAR['identity_CCE'] %>
				<li>
					<%=link_to controller: 'users', action: 'index' do%>
					<span class="mid_container_img">
						<span class="management-icon icon-management"></span>				
					</span>
					<span class="mid_container_word">
						<div class="mid_container_CH">
						會員管理
						</div>
						<div class="mid_container_EN">
						USERS MNGMT
						</div>					
					</span>	
					<%end%>
				</li>
				<%end%>
			<%end%>									
		</ul>		
	</div>
	<div class="bot_container">
		<ul>
			<li>
				<%=link_to controller: 'main', action: 'CCENow' do%>
				<span class="bot_container_img">
					<span class="left_bot-icon icon-institution"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					中心現況
					</div>					
				</span>	
				<%end%>
			</li>
			<li>
				<%=link_to controller: 'main', action: 'CCELocation' do%>				
				<span class="bot_container_img">
					<span class="left_bot-icon icon-location"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					中心位置
					</div>
				</span>
				<%end%>				
			</li>	
			<li>
				<%=link_to controller: 'main', action: 'CCEMembers' do%>				
				<span class="bot_container_img">
					<span class="left_bot-icon icon-users"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					成員執掌
					</div>
				</span>
				<%end%>				
			</li>	
			<li>
				<%=link_to controller: 'main', action: 'CCEEnactment' do%>				
				<span class="bot_container_img">
					<span class="left_bot-icon icon-justice"></span>					
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					法規及表格
					</div>
				</span>
				<%end%>				
			</li>											
		</ul>		
	</div>	
	<div class="bot_line">	
		<div class="bot_line_left">
		</div>	
		<div class="bot_line_right">
		</div>				
	</div>	
</div>	
