<!DOCTYPE html>
<html>
<head>
  <title>CCE 交大推廣教育中心</title>
  <%= favicon_link_tag 'logo_pic.png' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>		
<%=render "layouts/cce_top_menu" %>
<%=render "layouts/cce_left_menu" %>
<div class="cce_main_container">
	<%= yield %>
</div>
<script>
<%= add_gritter(flash[:notice], title: flash[:title]) %>
<%= extend_gritter :time => 10000 %>
</script>

</body>
</html>
